body {background-color: black;}
h1 {color: white;}
#Corinthians {border-width: 5px;
    border-color: red;
    border-style: solid;
}
#Corinthians {margin-left: 500px;}
#Corinthians {width: 400px;}

h3 {color: white}
#Corinthians2 {border-width: 5px;
    border-color: red;
    border-style: solid;} 

#Corinthians2 {margin-left: 500px;}
#Corinthians2 {width: 400px;}

h4 {color:white;}
